<div class="container">
    <div class="row">
        <h1>{{ hall.title }}</h1>
    </div>
    <h4 class="text-muted">{{ hall.user.username }}</h4>

    {% if user.id == hall.user.id %}

    {% if not hall.video_set.all %}
    <p>You have no videos here yet!</p>
    <a href="{% url 'update_hall' hall.id %}" class="btn btn-warning">Edit hall</a>
    <a href="{% url 'add_video' hall.id %}" class="btn btn-primary">Add your first video!</a>
    <a href="{% url 'delete_hall' hall.id %}" class="btn btn-danger">DELETE HALL</a>
    <br>
    <br>
    {% else %}
    <a href="{% url 'update_hall' hall.id %}" class="btn btn-warning">Edit hall</a>
    <a href="{% url 'add_video' hall.id %}" class="btn btn-primary">Add video</a>
    <a href="{% url 'delete_hall' hall.id %}" class="btn btn-danger">DELETE HALL</a>
    {% endif %}

    {% endif %}

    <div class="row">

        {% for video in hall.video_set.all %}

        <div class="col-md-4 mt-3">
            <div class="card mb-4 shadow-sm">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/{{ video.youtube_id }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="card-body">
                    <p class="card-text">{{ video.title }}</p>
                    {% if user.id == hall.user.id %}
                    <a href="{% url 'delete_video' video.id %}" class="btn btn-danger">DELETE</a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>